* GLOBAL */

* {
  box-sizing: border-box;
}

.contianer {
  width: 80%;
  margin: auto;
}
html {
  color: #fff;
  font-size: 18px;

}

body {
  background: #0a2536;
}

.content-area {
  background-color: #bee0dd;
  margin: 74px 34px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.left-profile-area {
  background-color: #3ba39a;
  width: 50%;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left-profile-area
.dash {
  position: absolute;
  margin-top: 125px;
  font-size: 2.3rem;
}
.left-profile-area
.user-img
.img {
  padding: 0 400px;
}

.left-profile-area
.nav-bar-col {
  padding: 0 25px;
}

.left-profile-area
.nav-bar-col
ul {
  position: absolute;
  padding: 80px 0;
}

.left-profile-area
.nav-bar-col
ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;  
}

.left-profile-area
.nav-bar-col
li {
  padding: 10px 0 10px 0;
  margin-top: 5px;
}

.title h1 {
  font-size: 3.5rem;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
}
.content-area
.left-profile-area
.left-bottom {
  padding: 70px 0;
}











