* GLOBAL */

* {
  box-sizing:border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 18px;
}

body {
  background: #0a2536;
}

.content-area {
  background-color: #84bdc8;
  margin: 100px 50px;
  border-radius: 10px;
}

.left-profile-area {
  background-color: #3ba39a;
  width: 50%;
  border-radius: 10px;
}

.left-profile-area .side-header {
  width: 25%;
  padding:75px 25px; 
}

.left-profile-area .side-header a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.left-profile-area 
.side-header .news {
  padding-bottom: 25px;
}

.left-profile-area 
.side-header .img {
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0;
}

.dash  {
  padding-top: 140px;
  position: absolute;
  font-size: 1.5rem;
}

.left-profile-area 
.side-header 
.portfolios 
{
  padding: 20px 0;
}

.left-profile-area 
.side-header 
.members
.contacts
{
  padding: 20px 0;
}

.left-profile-area 
.side-header 
.contacts 
{
  padding: 20px 0;
}

.left-profile-area
.img{}

.left-profile-area
h1 {
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
}

.content-area
.left-bottom {
  background-color: #fdcc8a;
  width: 65%;
}




